.sidebar {
  width: 40%;
  float: right;
  background-color: green;
  color: red;
  border: solid black;
  padding: 30px;
  margin: 10px;
  box-sizing: border-box;
  outline: solid;
  outline-color: red;
}